
/* Admin */

.admin-header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 11px;
    background: rgb(22 158 135);
  }
  
  #admin {
    background: rgb(13 107 91);
  }
  
  .panels {
      display: flex;
      justify-content: space-evenly;
      height: 75vh;
      align-items: center;
      width: 100%;
  }