@media (min-width: 320px) and (max-width: 414px) {
    .App{
      grid-template-columns: none;
      grid-template-rows: 0.1fr 3fr;
    }
  
    html{
      font-size: 14px;
    }
  
    h1{
      font-size: 2em;
    }
    
    h3{
      font-size: 1.5em;
    }

    /* Sidebar/ nav */
    .sidebar {
      height: 75px;
      width: 100%;
    }

    .head {
        margin: 0;
        width: 75%;
    }

    .show-on-mobile {
      display: block;
    }

    .hide-on-mobile {
      display: none;
    }

    .head p{
        display: none;
    }

    .menu{
      display: none;
    }

    /* Home */
    .hero img {
      height: 100%;
      width: auto;
    }

    /* Gallery */
    .img-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    /* About */
    .about-grid {
      grid-template-rows: 0.3fr 2fr;
    }

    .about-banner {
      height: auto;
    }
    .about-banner img {
      top: 0;
    }
}
