@media (min-width: 320px) and (max-width: 414px) {
    .App{
      grid-template-columns: none;
      grid-template-rows: 1fr 3fr;
    }
  
    html{
      font-size: 14px;
    }
  
    h1{
      font-size: 2em;
    }
    
    h3{
      font-size: 1.5em;
    }


}