@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=PT+Serif:wght@400;700&display=swap');

:root {
  --primary: rgb(71 204 136);
  --body-text: rgba(0,0,0,0.5);
  --text-light: #e4fffa;
  --heading: rgba(71, 204, 136, 0.75);
}

form label {
  margin-right: 10px;
}
.form-group {
  text-align: left;
  display: inline-flex;
  width: 30vw;
  justify-content: space-between;
  margin-bottom: 25px;
}

button{
  background: var(--primary);
  border: none;
  padding: 10px;
  min-width: 75px;
  border-radius: 3px;
  color: white;
  font-family: 'PT Serif', serif;
}

html{
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: var(--body-text);
}

body{
  font-family: 'PT Serif', serif;
  margin: 0;
}

h1{
  font-family: "Gravitas One", cursive;
  font-size: 1.5em;
}

h3{
  font-family: "Gravitas One", cursive;
  font-size: 1em;
}

h6{
  font-family: "Gravitas One", cursive;
  font-size: .5em;
}

p{
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: 400;
}

ul li {
  font-size: 18px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

ul{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 25px;
  margin-bottom: 25px;
}

li a {
  text-decoration: none;
  color: var(--body-text);
}

.App{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Home */
.hero figure{
  width: 100%;
  padding: 0px;
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.hero-text {
    color: white;
    position: absolute;
    z-index: 1;
    max-width: 45%;
    text-align: right;
    right: 50px;
    bottom: 50px;
}
.hero {
  background: var(--primary);
  overflow: hidden;
  overflow-y: hidden;
}

.hero figure img {
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 75%;

}
/* Sidebar */
.sidebar{
  background: var(--primary);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

.site-title{ 
  color: var(--text-light);
}

.head{
  width: 75%; 
  margin: 40px auto;
  text-align: center;
}

.head figure {
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.profile {
  width: 100%;
}

/* Image Upload */
form{
  margin: 30px auto 10px;
  text-align: center;
}

.image-label-form input{
  height: 0;
  width: 0;
  opacity: 0;
}

.image-label-form {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

.image-label-form:hover{
  background: var(--primary);
  color: white;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}

.page-header{
  margin-top: 75px;
  text-align: center;
  color: var(--heading);
}
/* Progress Bar */
.progress-bar {
  height: 2px;
  background: var(--primary);
}
/* Image Grid */
.images {
  text-align: center;
  padding: 25px;
}
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Modal */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 83, 71, 0.603);
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

/* Blog */
.articles {
  padding: 50px;
}

.article{
  border-bottom: 1px solid var(--body-text);
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.article:last-child{
  border-bottom: none;
}

.category-label  {
    color: var(--primary);
    float: right;
    border-bottom: 1px solid;
    min-width: 100px;
    text-align: right;
    padding-left: 25px;
}


/* About */

.about-grid {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 25px 50px;
}

.about-banner {
  margin: 0;
  padding: 0;
  height: 50vh;
  overflow: hidden;
}

.about-banner img {
  width: 100%;
  position: relative;
  bottom: 15vh;
}

.bio::first-letter {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary);

  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Admin */

.admin-header {
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 11px;
  background: rgb(22 158 135);
}

#admin {
  background: rgb(13 107 91);
}

.panels {
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
    align-items: center;
    width: 100%;
}

/* Footer */

footer {
  bottom: 10px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

footer li {
  display: inline; 
  margin-right: 20px;
  font-size: 1em;
}

/* Misc */
@media (min-width: 720px) {
  .hide-on-desktop {
    display: none;
  }
}

/* Media Queries*/
@media (min-width: 320px) and (max-width: 414px) {
  /* Global */
  html{
    font-size: 14px;
  }

  h1{
    font-size: 2em;
  }
  
  h3{
    font-size: 1.5em;
  }
  
  /* Navigation */
  .sidebar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .mobile .container .wrapper{
    align-self: center;
  }

  .head {
      margin: 0;
      width: 75%;
  }

  .head h1 {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    margin: 0px;
  }

  .mobile .head figure{
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-top: 2.5em;
  }
  .mobile h1 {
      display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
      margin-top: 0px;
  }

  .head p{
      display: none;
  }

  .mobile {
    width: 100%;
    position: absolute;
    background: rgb(71 204 136 / 71%);
    z-index: 1;
    height: 100%;
  }

  .mobile .container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .mobile .site-title {
    color: var(--primary);
  }

  .mobile .menu {
    display: block;
  }

  .mobile .head{
    padding: 0px;
    margin: 0px 0px 30px;
    width: 100%;
  }

  .main-nav .head figure {
    display: none;
  }

  .main-nav footer {
    display: none;
  }

  .main-nav .head .tagline{
    display: none;
  }

  .mobile a {
    color: var(--body-text);
  }

  .mobile .mobile-menu {
      width: 50%;
      height: 100%;
      display: block;
      background-color: aliceblue;
  }

  .close-menu{
    background: none;
    color: var(--primary);
    font-size: 20px;
    font-family: sans-serif;
    text-align: right;
  }

  /* Footer */
  footer li {
    font-size: 1.5em;
  }
  

  /* HomePage / Hero */
  .hero figure img {
    width: 220%;
    position: relative;
    right: 46vw;
  }

  /* Modal */
  .backdrop {
    display: flex;
  }

  .backdrop img {
    align-self: center;
  }
}
